<div class="login-wrapper">
    <div class="login-header">
        <h1>Login into existing account</h1>
    </div>
    <form class="login-form">
        <div class="login-form__item email">
            <label for="email">Email</label>
            <input class="email__input" id="email" type="email">
        </div>
        <div class="login-form__item password">
            <label for="password">Password</label>
            <input class="password__input" id="password" type="password">
        </div>
    </form>
</div>